body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	position: relative;
	background: url("https://free4kwallpapers.com/uploads/originals/2016/02/10/milky-way-wallpaper.jpg");
	background-repeat: no-repeat;
  background-position: center top;
  background-size: 2200px auto;
}


h1 { color: #f8f8fa; }
h2 { color: #f8f8fa; }
h3 { color: #f8f8fa; }

html {
    text-align: center;
  }

.numero{color: #f8f8fa
}